<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        {{ lastMonthSpending.month }}
      </div>
      <div class="card-body">
        <div style="font-size: 30px">${{ lastMonthSpending.amount }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        {{ currentMonthSpending.month }}
      </div>
      <div class="card-body">
        <div style="font-size: 30px">${{ currentMonthSpending.amount }}</div>
      </div>
    </div>
  </div>
</div>
